<main>
    <div id="article-header">
        <h1 id="title">October's Monthly Post</h1>
        <h4 id="subtitle">The Recommendation Update</h4>
        <p id="date"><em>Oct 01, 2025 | 425 words</em></p>
        <hr>
    </div>
    <article>
        <p>Welcome to my monthly status update post where I talk about where I've been, what I've done, and/or what I've
            learned in the past month. And this time, we got an update to the website. Specifically...</p>
        <h2><em>The Recommendation Update</em></h2>
        <p>In this update, I added a new set of pages for y'all to <a href="/recommends">recommend</a> any kind
            of media to me. I also added a page to view my <a href="/reviews">reviews</a> of various pieces of
            media. As time goes on, I plan to use my recommends page as a watchlist/readlist. I also want to not only
            document my reviews of recommended media, but also stuff I watch/read in my day-to-day life. Once I polish
            up the code, I will try to write up a post about the API for those curious. On the topic of the website:</p>
        <h2>I Got A New Website Host!</h2>
        <p>I am now running the website off of my Raspberry Pi 5! (I previously was running it off my Raspberry Pi 4.) I
            got the hardware clear back in August, but didn't have the motivation to actually make the switch till
            recently.</p>
        <img src="/images/rpi5_neofetch.png" alt="Neofetch output for a Raspberry Pi 5">
        <h2>AdBreak</h2>
        <p>In terms of news in technology, the Kindle Modding community released their new exploit for v5.18.1+ Kindles
            called <a href="https://kindlemodding.org/jailbreaking/AdBreak/">AdBreak</a>. I haven't looked into technical details
            of the exploit, but the guide says it's based on
            <a href="https://scarybeastsecurity.blogspot.com/2017/05/ode-to-use-after-free-one-vulnerable.html">CVE-2012-3748</a>
            if you wish to look into it further. I personally got it running easily on my Kindle (10th Gen.) and
            absolutely love it. Since then, I've been reading a bit more (as in going from 0 books to 1 book). I'm
            currently reading the <em>CES Letter</em> by Jeremy T. Runnells, and plan on making a post about it when I'm done
            reading it.</p>
        <h2>Misc</h2>
        <p>My last little notes for the month: I'm really looking forward for Halloween this year (reminder, I'm
            American). I will be going as Sebastian from the Roblox game
            <em><a href="https://www.roblox.com/games/12411473842/Pressure">Pressure</a></em>. I also want to say that the Arch Linux Rice
            mentioned <a href="/blogs/sep-post">last post</a> won't be finished. I unfortunately don't have time to
            complete it.</p>
        <h2>Last Words</h2>
        <p>Once again, thanks for reading to the end! I will try and get a mid-month talking about either the API or the
            CES Letter. If not, I will see y'all in November. I love y'all and have a good one!</p>
    </article>
</main>