<header>
    <div id="navBarLeft">
        <a href="./home.html" id="headerHomeLink">
            <img src="images/logo.png" alt="Logo" height="60px">
        </a>
    </div>
    <nav id="navBarRight">
        <a href="./blog.html">Blog</a>
        <a href="./projects.html">Projects</a>
        <a href="https://github.com/monicode-dev"><img src="images/github.svg" alt="GitHub logo" class="svg"></a>
        <a href="https://bsky.app/profile/monicode.dev"><img src="images/bluesky.svg" alt="Bluesky logo"
                class="svg"></a>
    </nav>
</header>