<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>MoniCode | {{prettyBlogName blogId this}}</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/universal.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/blog-page.css">

    <meta name="title" content="MoniCode | {{prettyBlogName blogId this}}" />
    <meta name="description" content="Welcome to the MoniCode blog website!" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://monicode.dev/" />
    <meta property="og:title" content="MoniCode" />
    <meta property="og:description" content="Welcome to the MoniCode blog website!" />
    <meta property="og:image" content="https://monicode.dev/images/logo.png" />

    <!-- X (Twitter) -->
    <meta property="twitter:url" content="https://monicode.dev/" />
    <meta property="twitter:title" content="MoniCode" />
    <meta property="twitter:description" content="Welcome to the MoniCode blog website!" />
    <meta property="twitter:image" content="https://monicode.dev/images/logo.png" />
</head>

<body>
    <div id="content" style="height: 100vh;">
        {{> header}}

        {{{body}}}

        {{> footer}}
    </div>
    <script src="/js/overflowFix.js"></script>
    <script src="/js/prism.js"></script>
</body>

</html>