<main>
    <h1>Blog</h1>
    <h2>Pinned Posts</h2>
    <div id="cards-grid">
        <a href="/blogs/_template" class="card pinned">
            <p class="title-section">
                <span class="title"><b>Template Blog Post</b></span>
                <span class="date"><em>Jul 26, 2025</em></span>
            </p>
            <p class="subtitle">Testing some basic formating</p>
        </a>
        <a href="/blogs/_template" class="card first">
            <p class="title-section">
                <span class="title"><b>Template Blog Post</b></span>
                <span class="date"><em>Jul 26, 2025</em></span>
            </p>
            <p class="subtitle">Testing some basic formating</p>
        </a>
    </div>
    <hr>
    <div id="cards-grid">
        <a href="/blogs/_template" class="card first">
            <p class="title-section">
                <span class="title"><b>Template Blog Post</b></span>
                <span class="date"><em>Jul 26, 2025</em></span>
            </p>
            <p class="subtitle">Testing some basic formating</p>
        </a>
        <a href="/blogs/_template" class="card first">
            <p class="title-section">
                <span class="title"><b>Template Blog Post</b></span>
                <span class="date"><em>Jul 26, 2025</em></span>
            </p>
            <p class="subtitle">Testing some basic formating</p>
        </a>
        <a href="/blogs/_template" class="card first">
            <p class="title-section">
                <span class="title"><b>Template Blog Post</b></span>
                <span class="date"><em>Jul 26, 2025</em></span>
            </p>
            <p class="subtitle">Testing some basic formating</p>
        </a>
    </div>
</main>