<main>
    <h1>Blog</h1>
    {{!-- <p>No posts yet! :(</p> --}}
    <div id="cards-grid">
        <a href="/blogs/home-dlc" class="card pinned">
            <p class="title-section">
                <img src="/images/pin.svg" alt="Pin" class="svg pin">
                <span class="title"><b>The Home Page DLC</b></span>
                <span class="date"><em>Jul 31, 2025</em></span>
            </p>
            <p class="subtitle">My first blog post!</p>
        </a>
        <a href="/blogs/oct-post" class="card">
            <p class="title-section">
                <span class="title"><b>October's Monthly Post</b></span>
                <span class="date"><em>Oct 01, 2025</em></span>
            </p>
            <p class="subtitle">The Recommendation Update</p>
        </a>
        <a href="/blogs/sep-post" class="card">
            <p class="title-section">
                <span class="title"><b>September's Monthly Post</b></span>
                <span class="date"><em>Sep 06, 2025</em></span>
            </p>
            <p class="subtitle">My monthly post for September</p>
        </a>
    </div>
</main>