<main>
    <h1>Blog</h1>
    {{!-- <p>No posts yet! :(</p> --}}
    <div id="cards-grid">
        <a href="/blogs/home-dlc" class="card pinned">
            <p class="title-section">
                <img src="/images/pin.svg" alt="Pin" class="svg pin">
                <span class="title"><b>The Home Page DLC</b></span>
                <span class="date"><em>Jul 31, 2025</em></span>
            </p>
            <p class="subtitle">My first blog post!</p>
        </a>
    </div>
</main>