<main>
    <h1>Blog</h1>
    <div id="cards-grid">
        <a href="_blog_template.html" class="card">
            <p class="title-section">
                <span class="title"><b>My first blog post</b></span>
                <span class="date"><em>Apr 9, 2025</em></span>
            </p>
            <p class="subtitle">and the journey to get here</p>
        </a>
    </div>
</main>