<main>
    <div>
        <h1 id="titleMain">MoniCode</h1>
        <div id="abtMeText">
            <p>Hi, I'm Monika, a silly, queer, high school senior who loves programming.</p>
            <p>
                I found that I love tinkering with things. What better way to satisfy that craving than programming?
            </p>
            <p>
                Even though I am just getting started with documenting my experince with programming online, I hope to showcase some of my <a href="/projects" class="link chip">projects here</a>.
            </p>
            <p>
                With me documenting my experince with programming, I also want to start writing about it. You can find my personal writing about programming in my <a href="/blogs" class="link chip">blog</a>.
            </p>
        </div>
    </div>
</main>