<main>
    <div>
        <h1 id="titleMain">MoniCode</h1>
        <div id="abtMeText">
            <p>Hi, I'm Monika Eve Cervantes, a.k.a, MoniCode.</p>
            <!-- <p>On the ocason</p> -->
        </div>
        <div id="navButtons">
            <a href="/blog">Blog</a>
            <a href="/projects">Projects</a>
        </div>
    </div>
</main>