<main>
    <div>
        <h1 id="titleMain">MoniCode</h1>
        <div id="abtMeText">
            <p>
                Hi! I am Monika Cervantes (aka MoniCode), a queer open source developer.
            </p>
            <p>
                My current priority is to learn as much as I can about computer science before my high school graduation.
                This way I will be better prepared for my transition into university, where I plan to get a bachelor's degree in computer science.
            </p>
            <p>
                My current skillset includes Python and web development (HTML, CSS, JS).
                However, I want to expand it to include Rust and more low level programming concepts.
                To achieve the latter, I have been watching lots of videos about systems development (<span class=so></span> <a href="https://www.youtube.com/@CoreDumpped">CoreDumpped</a> on YouTube!).
            </p>
            <p>
                Other than programming, I plan to write <a href="/blogs">blog</a> posts about my life, including my schooling, updates regarding programming projects, and new interests of mine.
                My aim is to have at least one post per month updating where I've been, what I've done, and what I learned that month.
            </p>
            <p>
                If you're curious about my setup, the <a href="/setup">details</a> are available publicly.
                For further questions, though, you can find me as <code>monicode.dev</code> on discord or email me at <a href="mailto:monika@monicode.dev"><code>monika@monicode.dev</code></a>
            </p>
            <p>
                I also want to give a <span class=so></span> to <a href="https://maia.crimew.gay/" class="link">maia arson crimew</a>, <a
                    href="https://matdoes.dev/">matdoesdev</a>, and <a href="https://antfu.me/">Anthony Fu</a> for
                inspiring me to make a website in the first place!
            </p>
        </div>
    </div>
</main>