<main>
    <div>
        <h1 id="titleMain">MoniCode</h1>
        <div id="abtMeText">
            <p>
                Hi, I am Monika Cervantes (aka MoniCode), a queer, open source developer.
            </p>
            <p>
                My current priorities are to learn as much as I can about computer science before the end of my last
                year in high school. This way I will feel prepared for my transition into university. Once I get into
                university, I plan to get a bachelor's degree in computer science.
            </p>
            <p>
                Currently, I have some skills in Python and web development (HTML, CSS, JS). However, I want to expand
                my skills list to include Rust and more low level programming concepts. I have been watching lots of
                videos about systems development (shoutout <a href="https://www.youtube.com/@CoreDumpped">Core
                    Dumpped</a> on YouTube!) to complete the latter.
            </p>
            <p>
                Other than programming, I plan to write <a href="/blogs">blog</a> posts about my life, from my
                schooling, to progress updates in programming projects, to a new interests of mine. I will try to have
                at least one post per month updating where I have been, what I've done, and what I learned that month.
            </p>
            <p>
                To go a little off topic, I want to mention my <a href="/setup">setup list</a> is public. I also
                want to give a shoutout to <a href="https://maia.crimew.gay/" class="link">maia arson crimew</a>, <a
                    href="https://matdoes.dev/">matdoesdev</a>, and <a href="https://antfu.me/">Anthony Fu</a> for
                inspiring me to make a website.
            </p>
            <p>
                To sign off here, if you need to contact me, you can find me at <code>monicode.dev</code> on discord or email me at <code>monika@monicode.dev</code>
            </p>
        </div>
    </div>
</main>