<main>
    <div id="cards-grid">
        <h1>Current Works-In-Progess</h1>
        <a href="https://github.com/monicode-dev/monicode.dev" class="card" id="mcd-website">
            <p class="title-section">
                <span class="title"><b>MoniCode Portfolio/Blog</b></span>
                <span class="tools">
                    <img src="/images/nodedotjs.svg" alt="Python logo" class="svg">
                    <img src="/images/express.svg" alt="HTML logo" class="svg">
                    <img src="/images/svelte.svg" alt="CSS logo" class="svg">
                </span>
            </p>
            <p class="subtitle">You are here!</p>
        </a>
        <h1>Stable/Finished Projects</h1>
        <h1>Unfinished/Abandoned Projects</h1>
        {{!-- <a href="https://github.com/monicode-dev/untitled-terminal-incremental" class="card" id="uti-python">
            <p class="title-section">
                <span class="title"><b>Untitled Terminal Incremental</b></span>
                <span class="tools"><img src="/images/python.svg" alt="Python logo" class="svg"></span>
            </p>
            <p class="subtitle">An incremental game about terminals!</p>
        </a>
        <a href="https://github.com/monicode-dev/cafe-uno" class="card" id="cu-java">
            <p class="title-section">
                <span class="title"><b>Cafe Uno</b></span>
                <span class="tools"><img src="/images/intellijidea.svg" alt="IntelliJ Idea logo" class="svg"></span>
            </p>
            <p class="subtitle">Cafe Uno is a 1:1 recreation (give or take some house rules) of the card game Uno made
                in Java</p>
        </a> --}}
    </div>
</main>