<main>
    <div id="cards-grid">
        <h1>Projects</h1>
        <h2>Stable/Finished Projects</h2>
        <a href="https://github.com/monicode-dev/monicode.dev" class="card" id="mcd-website">
            <p class="title-section">
                <span class="title"><b>MoniCode Portfolio/Blog</b></span>
                <span class="tools">
                    <img src="/images/svg/deno.svg" alt="Deno logo" class="svg">
                    <img src="/images/svg/express.svg" alt="Epress logo" class="svg">
                    <img src="/images/svg/handlebars.svg" alt="Handlebars logo" class="svg">
                </span>
            </p>
            <p class="subtitle">You are here!</p>
        </a>
        <h2>Current Projects</h2>
        <a href="https://github.com/monicode-dev/music-rpc" class="card">
            <p class="title-section">
                <span class="title"><b>Music RPC</b></span>
                <span class="tools">
                    <img src="/images/svg/deno.svg" alt="Deno logo" class="svg">
                </span>
            </p>
            <p class="subtitle">A Program For Non-Spotify Users</p>
        </a>
        <a href="https://github.com/monicode-dev/M3" class="card">
            <p class="title-section">
                <span class="title"><b>M3</b></span>
                <span class="tools">
                    <img src="/images/svg/nodejs.svg" alt="NodeJS logo" class="svg">
                    <img src="/images/svg/discordjs.svg" alt="Discord.js logo" class="svg">
                </span>
            </p>
            <p class="subtitle">My multipurpose Discord bot.</p>
        </a>
    </div>
</main>