<main>
    <button class="back" onclick="history.back()"><- Go Back</button>
    <form id="form">
        <fieldset>
            <legend>Recommendation Form</legend>
            <label for="fcategory">Category:</label>
            <select id="fcategory" name="category">
                <option value="music">Music</option>
                <option value="games">Game</option>
                <option value="moviesAndShows">Movie/show</option>
                <option value="videos">Video</option>
                <option value="anime">Anime</option>
                <option value="books">Book</option>
            </select>
            <br>
            <label for="fname">Name of media:</label>
            <input type="text" id="fname" name="name" required>
            <br>
            <label for="fcreator">Primary creator of media:</label>
            <input type="text" id="fcreator" name="creator" required>
            <br>
            <label for="fyou-name">Your name (Optional):</label>
            <input type="text" id="fyou-name" name="recommendedBy" placeholder="Anonymous">
            <br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</main>
<script src="/js/form.js"></script>