<main>
    <div class="rec-nav">
        <a href="/recommends?type=music" class="active">music</a>
        <a href="/recommends?type=games">games</a>
        <a href="/recommends?type=movies/shows">movies/shows</a>
        <a href="/recommends?type=anime">anime</a>
        <a href="/recommends?type=books">books</a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Recommended By</th>
        </tr>
        <tr>
            <td>A Fever You Can't Sweat Out</td>
            <td>Panic At The Disco</td>
            <td>Starr</td>
        </tr>
        <tr>
            <td>A Fever You Can't Sweat Out</td>
            <td>Panic At The Disco</td>
            <td>Starr</td>
        </tr>
        <tr>
            <td>A Fever You Can't Sweat Out</td>
            <td>Panic At The Disco</td>
            <td>Starr</td>
        </tr>
    </table>
</main>