<main>
    <h1>Recommended Media</h1>
    <p>Below is a list of media I have been recommended sorted by category. You can also add to this list by going <a
            href="/rec-form">here</a>.</p>
    <p>You can also see the media I've already consumed and rated <a href="/reviews">here</a>.</p>
    <br>
    <div class="rec-nav">
        <a href="/recommends?type=music" id="music">music</a>
        <a href="/recommends?type=games" id="games">games</a>
        <a href="/recommends?type=moviesAndShows" id="moviesAndShows">movies/shows</a>
        <a href="/recommends?type=videos" id="videos">videos</a>
        <a href="/recommends?type=anime" id="anime">anime</a>
        <a href="/recommends?type=books" id="books">books</a>
    </div>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <table class="rec-table" style="display: none;">
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Recommended By</th>
        </tr>
    </table>
</main>
<script src="/js/recommended.js"></script>