<main>
    <h1>Setup</h1>
    <h2>Device Inventory</h2>
    <ul>
        <li>Main PC (<img src="/images/svg/ubuntu.svg" alt="Ubuntu logo" title="Ubuntu 25.10" class="svg">):</li>
        <ul>
            <li>AMD Ryzen 5 4500</li>
            <li>AMD Radeon RX 580 2048SP</li>
            <li>16 GB of RAM</li>
        </ul>
        <li>Lenovo ThinkPad T495 (<img src="/images/svg/debian.svg" alt="Debian logo" title="Debian 13" class="svg">)
        </li>
        <li>Raspberry Pi 4 2GB (<img src="/images/svg/debian.svg" alt="Debian logo" title="Debian 12" class="svg">)</li>
        <li>Raspberry Pi 5 8GB (<img src="/images/svg/debian.svg" alt="Debian logo" title="Debian 12" class="svg">)</li>
    </ul>

    <h3>Mobile Devices</h3>
    <ul>
        <li>Samsung Galaxy S24+ [SM-S926U] (<span class="one-ui svg">One UI 8</span>)</li>
        <li>Lenovo Tab M10HD 2nd Gen [TB-X306F] (<img src="/images/svg/lineageos.svg" alt="LineageOS logo"
                title="LineageOS 21 (Android 14)" class="svg">)</li>
        <li>LG G Pad 7.0 LTE [LG-VK410] (<img src="/images/svg/android.svg" alt="Android logo" title="Android"
                class="svg">)</li>
        <li>Kindle Fire [1st Generation] (<img src="/images/svg/android.svg" alt="Android logo" title="Android"
                class="svg">)</li>
        <li>Kindle [10th Generation] (v5.18.1 - <a href="https://kindlemodding.org/jailbreaking/AdBreak/">AdBreak</a>)
        </li>
    </ul>
    <h3>Gaming</h3>
    <ul>
        <li>Xbox Series X</li>
        <li>Xbox 360 Slim [Trinity] (<a href="https://github.com/grimdoomer/Xbox360BadUpdate">Bad Update</a>)</li>
        <li>Nintendo Switch [Unpatched XAW1] (<a href="https://github.com/Atmosphere-NX/Atmosphere"><img
                    src="/images/svg/atmosphere.svg" alt="Atmosphère logo" title="Atmosphère" class="logo"></a>)</li>
        <li>Nintendo Wii [RVL-001] (<a href="https://wii.hacks.guide/str2hax"><img
                    src="/images/rainbow_dash_str2hax.png" alt="Pixel art of Rainbow Dash associated with str2hax"
                    title="str2hax" class="logo"></a>)</li>
        <li>Nintendo Wii [RVL-001]</li>
        <li>Nintendo Game Boy Advance SP</li>
        <li>Nintendo GameCube (Not yet Homebrew'd)</li>
        <li>Nintendo 64</li>
    </ul>
    <h2>Software</h2>
    <ul>
        <li>Librewolf</li>
        <li>Vesktop</li>
        <li>Steam</li>
        <li><a href="https://sober.vinegarhq.org/">Sober</a></li>
        <li>Visual Studio Code</li>
    </ul>
</main>