<main>
    <h1>Setup</h1>
    <h2>Hardware</h2>
    <ul>
        <li>Main PC:</li>
        <ul>
            <li>Ubuntu 25.04 / <a href="https://reunion7.com/index.html">Reunion7</a></li>
            <li>AMD Ryzen 5 4500</li>
            <li>AMD Radeon RX 580 2048SP</li>
            <li>16 GB of RAM</li>
        </ul>
        <li>Lenovo ThinkPad T495 (Debian 13)</li>
        <li>Raspberry Pi 4 2GB (Debian 12)</li>
        <li>Raspberry Pi 5 8GB (Debian 12)</li>
        <li>Samsung Galaxy S24+ [SM-S926U] (Stock OS)</li>
    </ul>
    <h2>Gaming</h2>
    <ul>
        <li>Xbox Series X</li>
        <li>Xbox 360 </li>
        <li>Nintendo Switch</li>
        <li>Nintendo Wii</li>
        <li>Steam</li>
        <li><a href="https://sober.vinegarhq.org/">Sober</a></li>
    </ul>
    <h2>Software</h2>
    <ul>
        <li>Zen Browser (but considering Librewolf)</li>
        <li>Discord</li>
        <li>Visual Studio Code</li>
        <li>Obsidian</li>
    </ul>
</main>