footer {
    text-align: center;
    color: gray;

    margin-bottom: 1%;
}

footer button {
    font-family: var(--ff);
    font-weight: normal;
    font-feature-settings: var(--feat);
    font-size: 12pt;

    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    background: rgba(25, 25, 25);
    color: gray;
}

footer button:hover {
    border: 2px solid rgb(40, 40, 40);
    background: rgb(15, 15, 15);
}