.chip {
  padding: 0.6em 1em;
  line-height: 150%;

  border: 2px solid rgb(120, 0, 120);
  transition: ease-in-out 0.2s;
  background-color: black;
  color: white;
  border-radius: 5px;

  text-decoration: none;
}

.chip:hover {
  border: 2px solid rgb(100, 0, 100);
}

main {
  margin-top: 10px;
}

.link {
  color: white;
  padding: 1px;
}