@font-face {
  font-family: SamsungSans; /* set name */
  src: url(/font/samsungsans.ttf); /* url of the font */
}

.one-ui {
    font-family: SamsungSans;
    color: black;
}

.logo {
    width: 20px;
    vertical-align: middle;
}