@font-face {
  font-family: SamsungSans;
  src: url(/font/samsungsans.ttf);
}

.one-ui {
  font-family: SamsungSans;
  color: black;
}

.logo {
  height: 20px;
  vertical-align: middle;
  filter: brightness(75%);
  transition: ease-in-out 0.2s;
}

.logo:hover {
  filter: brightness(100%);
}