:root {
  --main-purple: rgb(100, 0, 145);
  --background-purple: rgba(100, 0, 145, 0.5);
  --dark-purple: rgb(20, 0, 20);

  --link-white: rgb(190, 190, 190);
}

body {
    /* Font and text details */
    font-family: "Ubuntu Mono", monospace;
    font-size: 12pt;
    color: white;
  
    /* Background animaion */
    background-color: var(--dark-purple);
    background-image: linear-gradient(45deg, transparent 24%, var(--background-purple) 25% 26%, transparent 27% 74%, var(--background-purple) 75% 76%, transparent 77%),
                      linear-gradient(135deg, transparent 24%, var(--background-purple) 25% 26%, transparent 27% 74%, var(--background-purple) 75% 76%, transparent 77%);
    background-size: 55px 55px;
    animation: moveBg 4s linear infinite;

    padding-left: 30%;
    padding-right: 30%;

    margin: 0;
}

#content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;

  background-color: rgba(20, 0, 20, 0.75);
  border-radius: 20px;
  padding: 0% 5% 0% 5%;

  margin-top: 1vh;
  margin-bottom: 1vh;

  height: 98vh;
}
  
@keyframes moveBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 55px 55px;
    }
}

@media (max-width: 1600px) {
    body {
      padding-left: 20%;
      padding-right: 20%;
    }
}

@media (max-width: 1000px) {
    body {
      padding-left: 10%;
      padding-right: 10%;
    }
}

@media (max-width: 800px) {
    body {
      padding: 0;
      font-size: 11pt;
    }

    #content {
      margin: 0;
      border-radius: 0;
      height: 100vh;
    }
}